.navigation {
    display: flex;
    gap: 20px;    
    height: 60px;
    margin-bottom: 10px;
    padding: 20px;
    background: rgb(45, 33, 33);
    color: #fff;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }
  
  .activeLink {
    border: 2px solid #fff;
    color:#fff;
    font-weight: bold;
    padding: 10px;
  }